
body, html {
  font-family: monospace;
  height: 99%;
  min-height: 99%;
}
#beaker {
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  right: 25px;
  background: url('/exist/tullio/login/home-remedies-for-cats-2.jpg');        
  width: 128px;
  height: 128px;
}
body p {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

