.hide: {display: none;}
.status-EC {background: #FFC4FF}
.status-N, .status- {background: #FFC896;}
.status-T {background: #FFFFB7}
.status-R {background: #80ff80;}
.status-V {background: #008000;}
.status-A {background: #800000;}

.status-TT {background: #00ffff;}
.status-RT {background: #0000ff;}
.status-VT {background: #8000ff;}
.status-AT {background: #ff0000;}

/*
.status-T {background: #ffff00;#FFFFB7}
.status-EC {background: #ff00ff;#FFC4FF}
#ff8000;

*/
.sound {padding-top: 15px;}

.startRec  {
	text-decoration: none; 
	margin: 5px;
	margin-top: 10px; 

	font-size: 12px;
	font-weight: bold;
color: gray;
}


.sound p {

	display: none;
}


.lockid {font-size: 12px; color: gray;}

.lockid {display : none;}



.status-wrapper:hover + p {
    display: block;
		position: absolute;
		background: Bisque;
		border: thin solid gray;
		padding: 3px;
		

}


td.status {
	border-left: solid 3px transparent;
	vertical-align: top;														 
 }
p.status-wrapper {font-family: monospace ; font-weight: bold;}
td.sound {
	vertical-align: top;
}


.content {vertical-align: top;}
	td.status {width: 50px;}
	td.locked {border-left: solid #f5a5a5 3px;}
	table.edited {background-color: bisque;}
	.leftovers {color: #bfbebe};
	.moved {color: #5121b3};
	.startstop  {display: none;}
	.structured-events {display: none;}
	body {font-family: sans-serif;}
	table {font-size: 14px; }
	#remove {width: 100%;}
	#header {width: 100%;}
	/* #header div {background-color: white;  margin: 0.5%; float: left; } */
	/* #meeting {width: 25%; float: right;} */
	#free {width: 19%;}
	#navigation ul {padding: 0px;}
	#navigation ul li {list-style-type: none; display: inline; margin-right: 20px;}
	#texts {background-color: silver;}
	#hidden {background-color: yellow;}
	#titles {display: none;};
	#logo {margin-left: 10px; height: 65px; background-image:url('../img/logo.png'); background-repeat:no-repeat;}
	td {border: thin dotted navy;}
/*	.ruby td {border-color: #ff3333; border-style: solid;} */
	/*.edited {background-color: #66ff66;} */
	.startevent {background-color: #66ff00}
	.stopevent {background-color: #00ffcc}
	div.editable
		{
			border: solid 2px Transparent;
			padding-left: 15px;
			padding-right: 15px;
		}

		div.editable:hover
		{
			border-color: blue;
		}
	
		#hidden, #debug, #island {display: none;}
		td.events {vertical-align: top;}
		table.events-table * {font-size: 10px;}
		table.events-table td {border: thin dotted #006666; };
		td.e-n {width: 20px; }
		td.e-time {width: 50px;}
		td.e-type  {width: 50px;}
		td.e-speaker {width: 70px;}
		td.orig {width: 550px;}
		td.trans {width: 550px;}
		.ui-layout-north {position: fixed;
	left: 0px;
	top: 0px;
	height: 105px;
	width: 100%;
	}
	#spacer {clear: both;}
	
	#header > div {float: left !important;
	/* width: 10%; */
	}
	#meeting {
		margin: 5px;
		font-weight: bold;
		margin-right: 25px;
		
		
	}
	
	#meeting p {
		margin: 2px;
		
	}
	
	#meeting #link {
		margin-top: 12px;
		font-weight: normal;
	}
	
	#meeting #title {
		color: red;
	}
	
	
	#meeting a {
	
		color : #5588BB;
		text-decoration : none;
	}
	
	
	#meeting a:before {
		content: ">>";
	}
	
	#network {
		padding: 5px;
		color: gray;
	}
	#header > div#player {width: 600px !important;}
	.ui-layout-north.networkOK {
		/*
		background-color: #A1D8CA !important;
		*/
		background-color: silver !important;
	}
	#centerpane {margin-top: 150px !important;
	background-color: white;}
	
	
	.ui-layout-north.networkDown {
		background-color: #ff6666;
	
	}

#agendawrapper {max-height : 400px ;}

td.orig, td.trans {
	vertical-align: top;
}
td.events {
	width: 200px;
}

p.comment {display: none;}

div.editable p.comment {
	display : none;
	
	
}
div.editable p.incomplete {
}
div.editable p.proc {
}
div.editable p.title1 {
	
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	
}
div.editable p.title2 {
	font-style:italic;
	text-align: center;
	
	
	
}
div.editable p.title3 {
	padding-left: 30px; 
	text-indent:-30px; 
	font-weight: bold;
	text-transform: uppercase;
	text-align: justify;
	
	
}
div.editable p.title4 {
	padding-left: 30px; 
	font-weight: bold;
	text-align: justify;
	
	
}
div.editable p.realia {
	font-style: italic;
}


div.editable span.checked {
	
}

div.editable span.speaker {
	font-weight : bold;
}

div.editable span.pres {
	font-weight : bold;
}

div.editable span.incomplete {
	
}




