		.cell-title {
			font-weight: bold;
		}

		.cell-effort-driven {
			text-align: center;
		}
		
		
		div.buttons, div.more, div.extraButtons {
			display:block;
			clear:left;
			//padding-top:10px;
		}
		
            div.buttons *, div#clock1 *, div.commit *, div.agenda *, div.extraButtons * {
                font-family: Helvetica, Verdana, Arial;
                font-size: 10.5px;
            }
            
            div.buttons div, div.buttons span, div.commit *, div.extraButtons > *  {
                width: 110px;
                float: left;
                border: solid 1px #333333;
                padding: 4px;
                background-color: white;
                margin: 5px
            }
            
            div.extraButtons form {
            	width: 230px;
            }
            
            
            div.inputwrapper {
            	display: inline;
            }
            
            div.inputwrapper input {
            	width: 180px;
            	
            }
            .speakerbutton a {
            	text-decoration: none;
            	font-size: 9px;
            	color: purple;
            	font-weight: bold;
            	padding-left: 10px;
            }
            .speakerbutton a:hover {
            	text-decoration: none;
            	font-size: 9px;
            	color: red;
            	font-weight: bold;
            	padding-left: 10px;
            }
						
						div.commit * {
							background-color: #99ff33;
							
						}
						
						div.buttons span  {
						border: none;
						background-color: none;
						font-weight:bold;
						
						}
						
						div.inner {
							 width: 100px;
                color: #333333;
                border: solid 1px #333333;
                padding: 4px;
                background-color: white;
                margin: 3px
							
							
						}
						
						div.more, div.moreCont {
                float: left;
                color: #333333;
                border: solid 1px #333333;
                padding: 4px;
                background-color: white;
                margin: 3px
            
						}
		
		
						div#basic * {color:#0000cc;}
						div#events * {color:green;}
						div#govNL * {color:purple;}
						div#govFR * {color:red;}
		
						
						table.agenda {
							width: 300px;
							max-height: 400px;
							font-size: 10px;
							
						}
						.subjectN, .subjectF {display: none;}
		
						.agenda {background-color: whitesmoke;}
						#spacer {clear: both; width: 100%;}

.agenda td {
border-left: thin solid gray;
border-bottom: thin solid gray;

margin-right: 0px;
padding: 4px;
}


/*

CLOCKS

*/

#clock, #timer {
border: 3px solid silver;
font-size: 16px;
padding: 5px;
font-family: monospace;
}

#timer {
background-color: black;
color: greenYellow;
}

#clock {
	color: silver;
	border: none;
	padding: 0px;
}


#timer.runningLate {color: orange;}
#timer.veryLate {color: red;}

.clockwrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	
}





		

